<div class="row no-gutters">
    <div class="col-md-8 offset-md-2 mt-5">
        <div class="row">
            <div class="w-100" align="center">
                <button class="btn btn-default filter-button" data-filter="all">All</button>
                <button class="btn btn-default filter-button" data-filter="bench">Bench</button>
                <button class="btn btn-default filter-button" data-filter="tables">Tables</button>
            </div>
    
    
            <div class="gallery_product col-xs-12 col-md-6 filter bench">
                <img src="/images/ourWorkSlider/klupa.png" class="img-responsive">
                <p>BEFORE</p>
            </div>

            <div class="gallery_product col-xs-12 col-md-6 filter bench">
                <img src="/images/ourWorkSlider/klupa after.png" class="img-responsive">
                <p>AFTER</p>
            </div>

            <div class="gallery_product col-xs-12 col-md-6 filter tables">
                <img src="/images/ourWorkSlider/masa before.png" class="img-responsive">
                <p>BEFORE</p>
            </div>

            <div class="gallery_product col-xs-12 col-md-6 filter tables">
                <img src="/images/ourWorkSlider/masa after.png" class="img-responsive">
                <p>AFTER</p>
            </div>

            <div class="gallery_product col-xs-12 col-md-6 filter tables">
                <img src="/images/ourWorkSlider/masa2 before.png" class="img-responsive">
                <p>BEFORE</p>
            </div>

            <div class="gallery_product col-xs-12 col-md-6 filter tables">
                <img src="/images/ourWorkSlider/masa2 after.png" class="img-responsive">
                <p>AFTER</p>
            </div>
        </div>
    </div>
</div>